<%= content_for :styles do %>
  <%= stylesheet_link_tag "application"  %>
<% end %>

<div class="home-page">
  <div class=" col-lg-4 container">
    <h2>Sample  Timelines</h2>
    <ul>
      <li><a href="<%= toilet_url %>">History of Misdeamanor by Times Of India</a></li>
      <li><a href="#"></a>History of Rape in India</li>
      <li><a href="#">History of False Reporting</a></li>
      <li><a href="#">History of crime against children</a></li>
      <li><a href="#">History of misuse  of section 66A</a></li>
      <li><a href="#">History of misuse of 193A</a></li>
      <li><a href="#">History of corruption in India</a></li>
      <li><a href="#">History of UFO sightings</a></li>
      <li><a href="#">History  of corporal punishment at schools</a></li>
    </ul>
  </div>
</div>
